apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ app }}
    run: {{ app }}-app
  name: {{ app }}-app
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: {{ APP_NAME }}
    run: {{ APP_NAME }}-app
  type: NodePort
status:
  loadBalancer: {}
